# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
prisma/generated
auth
sessions.json

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Coverage
coverage/
*.lcov

/generated/prisma
